export("AdjustRangeAroundGene", "AnnotateDataframe", "AnnotateSNPFile", "AnnotateSNPList", "Comp", "ConvertPubMedHeadings", "Delay", "DelayUntil", "DivideString", "GetARFromLocation", "GetGeneInfo", "GetGeneNames", "GetGenesInRegion", "GetGeneTable", "GetGOs",  "GetIDs", "GetInteractions", "GetLDInfo", "GetSNPProxyInfo", "GetSNPPosHapmap", "GetNeighGenes", "GetPathways", "GetPhenotypes", "GetPubMed", "GetRegion", "GetSNPFlankSeq", "GetSNPInfo", "GetSNPsInGenes", "GetSNPsInRegion", "GetTax", "GetUniSTSFromName", "GetUniSTSInfo", "GetUniSTSSpecies", "IUPAC", "MakeExcel", "MakeHTML", "MedlineAbbreviations", "MergeSNPsGenes", "NatureJobs", "OpenPDF", "OpenPMID", "OpenURL", "PrintFilters",  "PrintNCBI2RInfo", "RemoveSpaces", "Rev", "RevComp", "ScanForGenes",  "ScanForSNPs", "SplitGenes", "TranslateIUPAC", "UpdateCheck", "VisualiseRegion")